<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>TambahToDo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size = 'large'>
        Tambah ToDo
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list lines = 'full'>

  <ion-item>
    <ion-label position="floating">Nama ToDo</ion-label>
    <ion-input required [(ngModel)]= "nama"  placeholder="Nama Aktivitas" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Deskripsi ToDo</ion-label>
    <ion-textarea [autoGrow]="true" value="" [(ngModel)]= "deskripsi" placeholder="Isi Deskripsi ToDoList">
    </ion-textarea>
  </ion-item>

  <ion-row>

    <ion-col>
      <ion-button type="button" (click)="addToDo()"  color="primary" shape="full" expand = 'block'>
        Tambah ToDo
      </ion-button>
    </ion-col>

  </ion-row>

</ion-list>


</ion-content>
